<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">

  <script id="requester-template" type="text/x-handlebars-template">
    <table>
    <tr>
      <td>Customer:</td>
      <td class="data">{{name}}</td>
    </tr>
    
    {{#if tags}}
    <tr>
      <td>Tags:</td>
      <td class="data">{{#each tags}}{{this}} {{/each}}</td>
    </tr>
    {{/if}}

    <tr>
      <td>Added:</td>
      <td class="data">{{created_at}}</td>
    </tr>
    <tr>
      <td>Last signed in:</td>
      <td class="data">{{last_login_at}}</td>
    </tr>
    </table>
  </script>

  <script id="error-template" type="text/x-handlebars-template">
    <p>{{status}} - {{statusText}} error. Please report a bug at the link below.</p>
  </script>

  <script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.8/handlebars.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
  <div id="content"></div>
  
  <footer>
    <p>Report bugs to engineering</p>
  </footer>
</body>
</html>
